.box{
    height: 100px;
    width: 300px;
    background-color: aqua;
    /* animation-name: widthAnimation; */
    /* animation-name: fontAnimation; */
    /* animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */
    animation: widthAnimation 3s ease-in 0s infinite normal;
}
@keyframes widthAnimation{
    from{
        width: 10px;
        background-color: greenyellow;
    }
    to{
       width: 400px;
    background-color: blue;
    border-radius: 15px;
    }
}
@keyframes fontAnimation{
    from{
        font-size: 20px;
    }
    to{
        font-size:40px;        
    }
}
