.box{
    height: 150px;
    width: 150px;
    border: 2px solid blue;
}
.one{
    background-color: aquamarine;
}
.two{
    background-color: rgb(247, 175, 6);
    position: relative;
    bottom: 50px;
    z-index: -3;
}
.three{
    background-color: rgb(119, 3, 243);
    position: relative;
        bottom: 50px;
        z-index: -3;
}